* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --strok-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
  
}
.light {
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --strok-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/assets/sun.svg);
}
body * {
  color: var(--text-color);
  font-family: sans-serif;
  font-weight: 400;
  
}
body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
}
.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
.switch button {
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;
  width: 32px;
  height: 32px;
  border: 0px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  left: 0;
  transition: ease-in-out 0.2s;
  animation: slide-back 0.2s;
}
.light .switch button {
  animation: slide-in 0.2s forwards;
}
.switch button:hover{
  border: 1px solid var(--text-color);
  box-shadow: 0px 0px 5px 5px rgba(131, 131, 131, 0.445);
  

}
.light button {
  right: 0;
  left: initial;
}
.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--strok-color);
  --webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
.container {
  width: 100%;
  max-width: 588px;
  margin: 0;
  height: 600px;
  padding: 0px 24px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile {
  padding: 24px;
  display:flex;
  flex-direction: column;
  text-align: center;
}
.profile img {
  margin-top: 24px;
  width: 112px;
  height: 112px;
  image-rendering: optimizeQuality;
}


.list a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;


}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;


  text-wrap: nowrap;
  background: var(--surface-color);
  border: 1px solid var(--strok-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 450;
  transition: ease-in-out 0.2s;
  height: 60px;
  width: 100%;
  padding: 30px 110px;


}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}
.social_links {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px;
  gap: 16px;
}
ion-icon {
  width: 25px;
  height: 25px;
}
.social_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: ease-in-out 0.2s;
  border-radius: 50%;
}
.social_links a:hover {
  background: var(--surface-color-hover);
}
@media (min-width:700px) {
  :root {
    --bg-url: url(./assets/assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/assets/bg-desktop-light.jpg);
  }
  
}
@media (max-width:699) {
  ul li a{
    width: 60%;
  padding: 30px 70px;
  }
}
@keyframes slide-in {
  from {
    left:0;

  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left:50%;

  }
  to {
    left: 0;
  }
}